body {
  background-color: #0f6e73 !important;
}

.btn.loginbutton {
  background-color: #0f6e73;
  border-color: #0f6e73;
}

.btn.loginbutton:hover {
  background-color: #0c5a5e;
  border-color: #0c5a5e;
}

.linkpassword {
  color: #0f6e73;
}
.linkregister {
  color: #0f6e73;
}
